 /* global */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}


 /* header start  */
header{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/pexels-ingo-joseph-188035.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
header .header-content button{
    background-color: #007bff;
    border: none;
    padding: 10px 30px;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    position: relative;
margin-top: 10rem;
transition: all 0.4s;
}
header .header-content button:hover{
    background-color: #0069da;
border: 1px solid #;
}



/* h1 start  */

.box{
    position: relative;
    width: 80%;
    text-align: center;
    margin: auto;
  }
  .box h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    /* text-align: center; */
    font-size: 12em;
    text-shadow: 0 5px 15px rgba(0,0,0,.2);
    text-transform: uppercase;
    
  }
  .box h1:nth-child(2){
    color: #fff;
    overflow: hidden;
    transition: all 0.5s;
    z-index: 2;
    clip-path: polygon(0 0, 100% 0, 0 99%, 0% 100%);
  }
  
  .box h1:nth-child(1){
    color: #2196f3;
    overflow: hidden;
    transition: all 0.5s;
    z-index: 2;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%);
  }
  


/* h1 end */

 /* nav start  */
nav{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.navbar ul li a:hover{
    color: #007bff !important;
}
.navbar-toggler{
    border: none !important;
}
.navbar{
    background-color: #fff;
}
.nav-link{
    color: #555 !important;
    font-size: 16px;
    font-weight: 600;
}


 /* nav end  */

 /* header end  */


/* about start  */
 #about{
    padding:4rem 0;
    color: #555;
 }
 #about button{
    margin: 20px 0 30px 0;
 }
 #about .about-content p{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
 }
 .about-content{
    margin-bottom: 20px;
 }
 .progress{
    border-radius: 16px;
 }
 .progress-bar{
    border-radius: 16px;
 }
 /* button about start  */
#about button{
    background-color: #007bff;
    border: none;
    padding:6px 20px ;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    position: relative;

}

#about button::before{
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    left: -7px;
    top: -7px;
    border-top:3px solid #2196f3;
    border-left:3px solid #2196f3;
    transition: all 0.3s;
}
#about button::after{
    content: '';
    /* background-color: blue; */
    width: 20px;
    height: 20px;
    position: absolute;
    right: -7px;
    bottom: -7px;
    border-bottom:3px solid #2196f3;
    border-right:3px solid #2196f3;
    transition: all 0.3s;
}
#about button:hover::before{
    width: 100%;
    height: 100%;
}
#about button:hover::after{
    width: 100%;
    height: 100%;
}

 /* button about end  */


/* about end  */

/* services start  */
#services{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../images/pexels-pixabay-459653.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding: 50px 0;
    color: #efefef;
}
#services h2 ,#team h2{
    text-align: center;
    color: #efefef;
    font-size: 45px;
    padding-bottom: 20px;
}
#services h2::after{
    content: '';
    display: block;
    background-color: #efefef;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.services-content {
    margin-top: 50px;
}
#services i{
    font-size: 30px;
    border: 1px solid #efefef;
    border-radius: 50%;
    padding:20px;
}
#services h3{
    padding: 10px 0;
}
#services p{
    opacity: 0.8;
}
.services-box{
    padding: 20px 0;
    transition: all 0.3s;
}
.services-box:hover{
    background-color: #007bff;
    cursor: pointer;
}
/* services end  */
/* our-team start  */
#team{
    padding: 4rem 0;
    background-color: #efefef;
}
#team h2 ,#price h2{
    color: #555;
}
#team h2::after{
    content: '';
    display: block;
    background-color: #007bff;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
#team .boxes{
   margin-top: 25px;
}
#team .boxes img{
    filter: grayscale(1);
    transition: all 0.4s;
}
#team .boxes img:hover{
    filter: grayscale(0);
    cursor: pointer;
}
.img-box{
position: relative;
text-align: center;
}
.boxes h3{
    font-size: 25px;
    font-weight: 700;
    text-transform: capitalize;
    color: #007bff;
    padding-top: 10px;
}
.boxes h4{
    font-size: 15px;
    font-weight: bold;
}
.boxes i{
    font-size: 20px;
    border-radius: 50%;
    padding: 5px;
   background-color: #fff;
}
.img-box ul{
    padding: 15px 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    display: inline-block;
}
.img-box ul li{
    display: inline-block;
    padding: 5px;
    opacity: 0;
}
.img-box:hover ul li{
    opacity: 1;
    transition: all 0.4s;
}


/* our-team end  */

/* promo start  */
#promo{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../images/bg2.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    filter: ;
}
#promo h2{
    color: #fff;
    font-weight: 400;
}
#promo .promo-content{
    padding: 4rem 0;
}
/* promo end  */

/* price start  */
#price{
    background-color: #efefef;
    padding: 4rem 0;
}
#price h2,#testimonials h2,#contact h2{
    text-align: center;
    font-size: 40px;
}
#price h2::after{
    content: '';
    display: block;
    background-color: #007bff;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
#price .single-price{
    background-color: #fff;
    transition: all .5s;
    width: 100%;
    margin: 3rem 0;
    position: relative;
    overflow: hidden;
}
#price .single-price:hover{
    box-shadow: 0 2px 15px #333;
}
#price .dis::after{
    content: 'discounte';
    background-color: red;
    color: #fff;
    padding: 7px 30px;
    position: absolute;
    top: 13px;
    right: -30px;
    transform: rotate(45deg);
}

#price .price-head{
    background-color: #2196f3;
    text-align: center;
    padding: 10px 0;
}
.price-head h3{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
}
.price-head p{
    font-size: 25px;
    font-weight: bold;
    color: #ccc;
    line-height: 30px;
}
.price-head span{
    font-size: 15px;
}
.price-content {
    padding: 30px 10px;
}
.price-content ul li{
    list-style: none;
    border-bottom: 1px solid #efefef;
    padding: 10px 0px;
}
.price-content ul li:last-child{
    border: none;
}
.price-content .fa-circle-check{
    color: green;
    margin-right: 10px;
}
.price-content .fa-circle-xmark{
    color: red;
    margin-right: 10px;
}
.price-buttum{
    margin-top: 10px;
    text-align: center;
}
.price-buttum a button{
    background-color: #2196f3;
    padding: 15px 30px;
    color: #fff;
    text-decoration: none;
   text-align: center;
   border: none;
   margin-bottom:40px;
   transition: all 0.3s;
   border-radius: 3px;
}
.price-buttum a button:hover{
    background-color: #3f51b5;
    border: 1px solid #fff;
}
.price-buttum a{
    margin:auto ;
}

/* price end  */
/* testimonials start  */
#testimonials {
    padding: 4rem 0;
}
#testimonials h2::after{
    content: '';
    display: block;
    background-color: #007bff;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.profile{
    background-color: #efefef;
    padding: 70px 10px 10px;
    position: relative;
    text-align: center;
   transition: 0.3s;
   margin: 3rem 0;
  
}
.profile:hover{
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
cursor: pointer;
}
.profile img{
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.profile h4{
    font-size: 22px;
    margin-top: 10px;
    color: #007bff;
}
.profile h4 span{
    font-size: 15px;
padding-left: 5px;
color: #333;
}
.profile blockquote{
    opacity: 0.8;
}
.profile blockquote i{
    color: #007bff;
}
#testimonials .row{
    margin-top: 5rem;
}

/* testimonials end  */
/* contact start  */
#contact{
    background-color: #efefef;
    padding: 3rem 0;
}
#contact h2{
    margin: 10px 0 40px 0;
}
#contact h2::after{
    content: '';
    display: block;
    background-color: #007bff;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.form-control{
    border: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    }
    
    .contact-form button{
        border-radius: 0;
        background-color: #007bff !important;
        border: none !important;
        box-shadow: none !important;
        margin-bottom: 30px;
        transition: all .3s;
    }
    .contact-info .follow{
        background-color: #fff;
        color: #007bff;
        padding: 15px;
        margin-bottom: 16px;
    }
    .contact-info{
        padding-left: 2rem;
    }
    .contact-info .follow i{
        padding-right: 12px;
        font-size: 20px;
    }
    .contact-info .follow span{
        font-size: 16px;
    }
/* contact end  */
   

/* footer start  */
    #footer{
        background-color:#222 ;
        padding: 10px 0;
        text-align: center;
        color: #fff;
    
    }
  
/* footer end  */
    

 /* responsive */

 @media(max-width:1220px){
    header .box h1{
      font-size: 8em !important;
    }
   }
   @media(max-width:1000px){
    header .box h1{
      font-size: 6em !important;
    }
   }
   @media(max-width:780px){
    header .box h1{
      font-size: 4em !important;
    }
   }